.hidden {
    display: none;
}

.new_task {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -200px;
    text-align: center;
}

.new__task h2 {
    text-align: center;
}

form button {
    margin-top: 10px;
}

.stretched-link {
    margin-bottom: 10px;
}

.tasks {
    border-right: 3px solid gray;
    height: 90vh
}

.link{
    border-right: 3px solid gray;
}

.tasks h2 {
    text-align: center;
}

.titleHome{
    border-bottom: 3px solid gray;
}

.tasks ul li {
    margin:10px 0;
}

.dropdown-toggle:after {
    content: none
}

.lang {
    font-size: 30px;
    margin-right: 10px;
    color: #333;
    font-family: "monospace";
}


@media (max-width: 760px) {
    .hidden {
        display: initial
    }

    .new_task {
        display: none
    }

    .Shidden {
        display: none
    }

    .tasks {
        border: none;
        text-align: center;
    }

    .tasks ul li {
        text-align: center;
        margin-right: 50px;
        list-style: none;
    }
    .new__task{
        display: flex;
        flex-direction: column;
        right: 50%;
    }

}
